.loader {
  --lightOlive: #f3fe95;
  --lilac: #92b3fa;
  --customPink: #ef98f9;
  --darkOlive: #e0d347;
  --lilacHover: #6193ff;
  --pinkDarker: #ea6bf8;
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background: var(--lilacHover);
  animation: wave 1s ease-in infinite;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0px var(--lilac), 0 0 0 20px var(--lightOlive), 0 0 0 40px var(--lilacHover),
      0 0 0 60px var(--customPink), 0 0 0 80px var(--pinkDarker);
  }
  100% {
    box-shadow: 0 0 0 80px var(--customPink), 0 0 0 60px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.4),
      0 0 0 20px var(--lilac), 0 0 0 0px var(--lightOlive);
  }
}
